/* Will be compiled down to a single stylesheet with your sass files */
body {
    font: 62.5% "Lucida Grande", Tahoma, Verdana, sans-serif;
    margin: 0;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: -moz-none;
         -o-user-select: none;
            user-select: none;
}

.overlay {
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #454345;
    top:-100%;
    z-index:100;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.overlay h3 {
    text-align:center;
    vertical-align: middle;
    color: white;
    font-size: 2em;
    top: 20%;
    position: absolute;
    width: 100%;
}
.overlay p {
    text-align:center;
    vertical-align: middle;
    color: white;
    font-size: 1.6em;
    top: 40%;
    position: absolute;
    width: 100%;
}

.overlay.active {
            transform:translateY(100%);
        -ms-transform:translateY(0);
       -mox-transform:translateY(0);
    -webkit-transform:translateY(100%);
         -o-transform:translateY(0);
}

#tipper {
    display: block;
    position: relative;
    /*height: 80.9%;*/
    width: 92%;
    padding: 4.1%;
    background: #3d4543;
    background-image: -webkit-linear-gradient(top, #3d4543, #2f2a2f);
    background-image: -moz-linear-gradient(top, #3d4543, #2f2a2f);
    background-image: -o-linear-gradient(top, #3d4543, #2f2a2f);
    background-image: linear-gradient(to bottom, #3d4543, #2f2a2f);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.5);}

section {
	position: relative;
    overflow: hidden;
}

.label {
/*    height: 11px;*/
    color: white;
    margin-left: 2px;
/*    margin-bottom: 1px;*/
}

.display {
    position: relative;
    height: 113px;
    background: #222;
    padding: 3px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.08);
    color: #444;
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
}

.pull-left {
    float:left;
}

.pull-right {
    float: right;
}

.screen {
    box-sizing: border-box;
    text-align:right;
    color: #444;
    background: #bccd95;
    background-image: -webkit-linear-gradient(top, #bccd95, #e0f5b1);
    background-image: -moz-linear-gradient(top, #bccd95, #e0f5b1);
    background-image: -o-linear-gradient(top, #bccd95, #e0f5b1);
    background-image: linear-gradient(to bottom, #bccd95, #e0f5b1);
}

.screen.screen-input {
/*
    position: absolute;
    margin: 0 2%;
    left: 0;
    right: 0;
    top: 18px;
*/
    margin: 0 1px;
    clear: left;
    padding: 0 6px;
    border-top: 1px solid #222222;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    border-top-right-radius: 3px;
    border-top-left-radius:3px;
    height: 35px;
    background: #afbd8e;
    font: 3.2em "Ubuntu Mono", monospace;
    color:#3a3a3a;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.12);
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.12);
/*    z-index: 10;*/
}

.screen.screen-input.active {
    padding: 5% 2%;
    height: 53px;
    font: 5.2em "Ubuntu Mono", monospace;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:  3px;
}

.screen.screen-output {
/*
    position: absolute;
    margin: 0 2%;
    left: 0;
    right: 0;
    top: 53px;
    width: 96.5%;
*/
    margin: 0 1px;
    height: 50px;
    padding: 0 3px;
    border-bottom: 1px solid #222222;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font: 4.8em "Ubuntu Mono", monospace;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.12);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.12);
/*
    z-index:9;
*/
}

.display-aid {
    font-size: 1em;
    position:absolute;
    z-index: 5;
    top: auto;
    left: 1em;
    padding: 5px 10px;
    margin: -1em 0;
    border: 1px solid #6f6f6f;
    background-color: #6f6f6f;
    color: #fff;
    border-radius: 3px;   
}

.dailpad {
    position: relative;
    bottom: 2em;
    overflow: hidden;
    margin-top: 35px;
}

.btn {
    float: left;
    width: 32%;
	height: 24px;
    color: white;
    padding: 0.8em 0 1.9em 0;
    margin: 2% 0% 0% 0%;
    font: 2em "Ubuntu Mono", monospace;
    text-decoration: none;
    text-shadow:0 1px rgba(0, 0, 0, 0.4);
	text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.08);    
    background: #313131;
    background-clip: padding-box !important;  
    background-image: -webkit-linear-gradient(top, #313131, #1c1c1c);
    background-image: linear-gradient(top, #313131, #1c1c1c);
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn:active {
  background: #282828;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn.center {
    margin: 2% 2% 0% 2%;
}

.btn-gray {
    background: #6f6f6f;
    background-image: -webkit-linear-gradient(top, #6f6f6f, #515151);
    background-image: -moz-linear-gradient(top, #6f6f6f, #515151);
    background-image: -o-linear-gradient(top, #6f6f6f, #515151);
    background-image: linear-gradient(to bottom, #6f6f6f, #515151);
}

.btn-gray:active {
  background: #555;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn-pink {
  background: #ff4561;
  background-image: -webkit-linear-gradient(top, #ff7286, #ff4561);
  background-image: -moz-linear-gradient(top, #ff7286, #ff4561);
  background-image: -o-linear-gradient(top, #ff7286, #ff4561);
  background-image: linear-gradient(to bottom, #ff7286, #ff4561);
}

.btn-pink:active {
  background: #ff4561;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn-red {
  background: #ff4848;
  background-image: -webkit-linear-gradient(top, #ff7c7c, #ff4848);
  background-image: -moz-linear-gradient(top, #ff7c7c, #ff4848);
  background-image: -o-linear-gradient(top, #ff7c7c, #ff4848);
  background-image: linear-gradient(to bottom, #ff7c7c, #ff4848);
}

.btn-red:active {
  background: #ff4848;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn-yellow {
  background: #ffa70c;
  background-image: -webkit-linear-gradient(top, #ffc557, #ffa70c);
  background-image: -moz-linear-gradient(top, #ffc557, #ffa70c);
  background-image: -o-linear-gradient(top, #ffc557, #ffa70c);
  background-image: linear-gradient(to bottom, #ffc557, #ffa70c);
}

.btn-yellow:active {
  background: #ffa70c;
}

.btn-blue {
  background: #007bff;
  background-image: -webkit-linear-gradient(top, #49a1ff, #007bff);
  background-image: -moz-linear-gradient(top, #49a1ff, #007bff);
  background-image: -o-linear-gradient(top, #49a1ff, #007bff);
  background-image: linear-gradient(to bottom, #49a1ff, #007bff);
}

.btn-blue:active {
  background: #007bff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.updating {
  background: #00adff;
  background-image: -webkit-linear-gradient(top, #45c3ff, #00adff);
  background-image: -moz-linear-gradient(top, #45c3ff, #00adff);
  background-image: -o-linear-gradient(top, #45c3ff, #00adff);
  background-image: linear-gradient(to bottom, #45c3ff, #00adff);
}

.updating:active {
  background: #00adff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}


.btn-block {
    width: 99%;
}

.icon {
    pointer-events: none;
    line-height: 14px;
    vertical-align: text-top;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 5px;
    background-image: url("../images/glyphicons-halflings-white.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-user {
    background-position: -168px 0;
}

.icon-thumb-up {
    background-position: -96px -144px;
}

.icon-ok {
    background-position: -288px 0;
}

.icon-remove {
    background-position: -312px 0;
 }

/* For iPhone < 5 */
@media only screen and (device-aspect-ratio: 2/3) {
    .btn {
        padding-top: 0.4em;
        padding-bottom: 1.6em;
    }
}

