/* Will be compiled down to a single stylesheet with your sass files */
body {
    margin: 0;
    font: 62.5% "Ubuntu Mono", Tahoma, Verdana, sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: -moz-none;
         -o-user-select: none;
            user-select: none;
}

.editing-overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #444;
    opacity:0;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

#img-split-bill {
    position: absolute;
    top: 7%;
    right: 35%;
}

.editing-overlay.active {
    z-index:15;
    opacity:0.8;
}

.overlay {
    position:absolute;
    top:-100%;
    z-index:100;
    width: 100%;
    height: 100%;
    background-color: #454345;
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}

.overlay h3 {
    position: absolute;
    top: 20%;
    width: 100%;
    color: white;
    vertical-align: middle;
    text-align:center;
    font-size: 2em;
}

.overlay p {
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
    vertical-align: middle;
    text-align:center;
    font-size: 1.6em;
}

.overlay.active {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(100%);
       -mox-transform: translateY(0);
}

#settings {
    position: absolute;
    left: 14%;
    width: 88%;
    height: 100%;
    background: #3d4543;
}

#settings > h3 {
    color: white;
    text-align: center;
}

#notification {
    position: relative;
    display: none;
    padding: 3px;
    background: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#notification.active {
    display: block;
}

#tipper {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    padding: 4.1%;
    width: 100%;
    height: 100%;
    background: #3d4543;
    background-image: -webkit-linear-gradient(top, #3d4543, #2f2d2f);
    background-image: -moz-linear-gradient(top, #3d4543, #2f2d2f);
    background-image: -o-linear-gradient(top, #3d4543, #2f2d2f);
    background-image: linear-gradient(to bottom, #3d4543, #2f2d2f);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 4px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 0.2s ease-in-out;
           -box-sizing: border-box;
}

#tipper.slideleft {
-webkit-transform:translateX(-84%);
    -ms-transform:translateX(-84%);
     -o-transform:translateX(-84%);
        transform:translateX(-84%);
   -mox-transform:translateX(-84%);
}

section {
    position: relative;
    overflow: hidden;
}

header {
    position: relative;
    display: block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    height: 36px;
    -box-sizing: border-box;
}

header > h3 {
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    font: 2.5em "Ubuntu Mono", monospace;
    font-weight: bold;
}

.label {
/* margin-bottom: 1px; */
    margin-left: 2px;
/* height: 11px; */
    color: white;
}

.display {
    position: relative;
    overflow: hidden;
    padding: 3px;
    height: 86px;
    border-radius: 5px;
    background: #222;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.08);
    color: #444;
}

.pull-left {
    float:left;
}

.pull-right {
    float: right;
}

.input-splits {
  display: none;
}

.input-splits.active {
  display: inline-block;
}

.info {
    clear: left;
    margin-top: 2px;
    margin-left: 2px;
    padding: 1px 2px;
    border-radius: 2px;
    color: #444;
    font-weight: bold;
    font-size: 15px;
}

.info-bill {
    margin-left: 0px;
    color: #444;
}

.info-total,
.info-each {
    opacity: 0;
}

.info-total.active,
.info-each.active {
    opacity: 1;
}

.screen {
    box-sizing: border-box;
    background: #bccd95;
    background-image: -webkit-linear-gradient(top, #bccd95, #e0f5b1);
    background-image: -moz-linear-gradient(top, #bccd95, #e0f5b1);
    background-image: -o-linear-gradient(top, #bccd95, #e0f5b1);
    background-image: linear-gradient(to bottom, #bccd95, #e0f5b1);
    color: #444;
    text-align:right;
}

.screen.screen-input {
    clear: left;
    margin: 0 1px;
    padding: 0 6px;
    height: 35px;
    border-top: 1px solid #222222;
    border-right: 1px solid #222222;
    border-left: 1px solid #222222;
    border-top-left-radius:3px;
    border-top-right-radius: 3px;
    background: #afbd8e;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.12);
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.12);
    color:#3a3a3a;
    font: 3.2em "Ubuntu Mono", monospace;
}

.screen.screen-input.active {
    padding: 5% 2%;
    height: 53px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:  3px;
    font: 5.2em "Ubuntu Mono", monospace;
}

.screen.screen-output {
    margin: 0 1px;
    padding: 4px 3px;
    height: 50px;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
    border-left: 1px solid #222222;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.12);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.12);
    font: 4em "Ubuntu Mono", monospace;
}

.display-aid {
    position:absolute;
    top: auto;
    left: 1em;
    z-index: 5;
    margin: -1em 0;
    padding: 5px 10px;
    border: 1px solid #6f6f6f;
    border-radius: 3px;
    background-color: #6f6f6f;
    color: #fff;
    font-size: 1em;   
}

.dailpad {
    position: relative;
    bottom: 2em;
    overflow: hidden;
    margin-top: 35px;
}

.btn {
    position:relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2% 0% 0% 0%;
    padding: 0.8em 0 1.9em 0;
    width: 32%;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;    
    background: #313131;  
    background-image: -webkit-linear-gradient(top, #313131, #1c1c1c);
    background-image: linear-gradient(top, #313131, #1c1c1c);
    background-clip: padding-box !important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.08);
    color: white;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow:0 1px rgba(0, 0, 0, 0.4);
    font: 2em "Ubuntu Mono", monospace;
    cursor: pointer;
}

.btn-col1 {
    margin: 2% 0 0 0;
    width: 100%;
}

.btn-col2 {
    width: 66%;
}

.btn-col2.left {
    margin: 2% 2% 0% 0%;
}

.btn:active {
    background: #282828;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn.center {
    margin: 2% 2% 0% 2%;
}

.btn-confirm {
    background: #6f6f6f;
    background-image: -webkit-linear-gradient(top, #6f6f6f, #515151);
    background-image: -moz-linear-gradient(top, #6f6f6f, #515151);
    background-image: -o-linear-gradient(top, #6f6f6f, #515151);
    background-image: linear-gradient(to bottom, #6f6f6f, #515151);
}

.btn-gray {
    background: #6f6f6f;
    background-image: -webkit-linear-gradient(top, #6f6f6f, #515151);
    background-image: -moz-linear-gradient(top, #6f6f6f, #515151);
    background-image: -o-linear-gradient(top, #6f6f6f, #515151);
    background-image: linear-gradient(to bottom, #6f6f6f, #515151);
}

.btn-gray:active {
    background: #555;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn-pink {
    background: #c15d5d;
    background-image: -webkit-linear-gradient(top, #dd8787, #c15d5d);
    background-image: -moz-linear-gradient(top, #dd8787, #c15d5d);
    background-image: -o-linear-gradient(top, #dd8787, #c15d5d);
    background-image: linear-gradient(to bottom, #dd8787, #c15d5d);
}

.btn-pink:active {
    background: #c15d5d;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn-red {
    background: #ff4848;
    background-image: -webkit-linear-gradient(top, #ff7c7c, #ff4848);
    background-image: -moz-linear-gradient(top, #ff7c7c, #ff4848);
    background-image: -o-linear-gradient(top, #ff7c7c, #ff4848);
    background-image: linear-gradient(to bottom, #ff7c7c, #ff4848);
}

.btn-red:active {
    background: #ff4848;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn-yellow {
    background: #ffa70c;
    background-image: -webkit-linear-gradient(top, #ffc557, #ffa70c);
    background-image: -moz-linear-gradient(top, #ffc557, #ffa70c);
    background-image: -o-linear-gradient(top, #ffc557, #ffa70c);
    background-image: linear-gradient(to bottom, #ffc557, #ffa70c);
}

.btn-yellow:active {
    background: #ffa70c;
}

.btn-blue {
    background: #354451;
    background-image: -webkit-linear-gradient(top, #516375, #354451);
    background-image: -moz-linear-gradient(top, #516375, #354451);
    background-image: -o-linear-gradient(top, #516375, #354451);
    background-image: linear-gradient(to bottom, #516375, #354451);
}

.btn-blue:active {
    background: #354451;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn.updating {
    background: #677a89;
    background-image: -webkit-linear-gradient(top, #869eae, #677a89);
    background-image: -moz-linear-gradient(top, #869eae, #677a89);
    background-image: -o-linear-gradient(top, #869eae, #677a89);
    background-image: linear-gradient(to bottom, #869eae, #677a89);
}

.btn.updating:active {
  background: #677a89;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.btn-block {
    width: 99%;
}

.btn-standout {
    position: relative;
    z-index:20;
}

.icon {
    display: inline-block;
    margin-top: 5px;
    width: 14px;
    height: 14px;
    background-image: url("../images/glyphicons-halflings-white.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    vertical-align: text-top;
    line-height: 14px;
    pointer-events: none;
}

.icon-user {
    display: inline-block;
    margin-top: 1px;
    width: 22px;
    height: 22px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QMRFiU5YixoVgAAAPpJREFUOMvtlb0uhFEQhp937Q3IoFa5A3chRCkKjbgEcQmylV4tKnEZSp1CK9tgSiWv5ojNOvv95Nuodqo5k3mfmcxMcmBlxdSWkJlbwAQ4LqEb4DwiXpt04w7Fr4H9mfcJsA4cDO3YtXhENGpHXeZl2zV/MFhS1R8ELg2qz/g6gSVdVQpNljGKx8pYnpYBXpvfl+1W3bjhzEbAnu3T+YVJOsvMD+AuIj4733Fm7gK3wHbp2Pqlu+i+gBfgKCIeGsGZuQNcAodzkEXnLUnYvpd0ERHPi8BvwEYL8E+BkvseEZvV5dnuC/1pzkVbvwpJ057QGammq8/if+0bQcZZ+VJIThgAAAAASUVORK5CYII=);
    vertical-align: text-top;
    line-height: 14px;
    pointer-events: none;
}

.icon-settings {
    position:absolute;
    right: 0;
    width: 28px;
    height: 28px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QMSBQcyXplFOQAAANFJREFUSMft1rFKA0EQBuBPsJML+gBKGgMhlaW+mHU0D5AmnXamTBksfAE7sbXUwiJFitSeNmdz7IHFDueR+2Fhl1nmZ2b+mV16dB0HifNhAM8XSgnnE6zxXV3KgWNc4y5FWOAsIMLT302d8BPLKsIyE9kRnv9Sz2i9tKPScUBKB7jFQ6qGJ7gICGzUJJoNnjK3RYHX/R1t51gEpHSOVcp4VZHlXjdNotniJaAt3v5lPUP810mGmAUM73s8poyXQaKZNolmh/eAB/ijtS9Gj+7jBwNuUmTnPYpsAAAAAElFTkSuQmCC);
    cursor: pointer;
}

.icon-thumb-up {
    background-position: -96px -144px;
}

.icon-ok {
    display: inline-block;
    margin-top: 1px;
    width: 22px;
    height: 22px;
    vertical-align: text-top;
    line-height: 14px;
    pointer-events: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQMFzsJgSVeQAAAAJBJREFUOMvt0LENgzAUhOETC5AJQiQGYLLXu/QmSZsqyiQ07BG3T7J1KUIQQQQJ/Er/A3zSHVAqmUWyJnklWVujPT/1JvgCJUmmlG7mqKoO3vvzHqQj+fjO/IeKSAug2oO+Zh822SgAxBif3OgQCgDOuYuqDqboWCUi7RLPRVdxK/QHDyHcLdEJB3CyRkv5vQHEGADRpfRezgAAAABJRU5ErkJggg==);}

.icon-remove {
    background-position: -312px 0;
 }

.blink {
    -webkit-animation: blink ease-out 1s infinite;
    -moz-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink ease-out 1s infinite;
}

.settings-content {
    margin: 0 0 0 -5px;
    padding: 0 0 0 2%;
}

.li {
    position: relative;
    padding: 8px 0 8px 20px;
    min-height: 20px;
    width: 100%;
    border-bottom: 1px solid #2e2d2d;
    background: #3f3f3f;
    background-image: -webkit-linear-gradient(top, #3f3f3f, #313131);
    background-image: -moz-linear-gradient(top, #3f3f3f, #313131);
    background-image: -o-linear-gradient(top, #3f3f3f, #313131);
    background-image: linear-gradient(to bottom, #3f3f3f, #313131);
    color: #c9c9c9;
    list-style-type: none;
    font: 1.6em "HelveticaNeue" monospace;
}

.li-primary {
    border-bottom: 1px solid #2e2d2d;
    font-weight: bold;
}

.li-content {
    background: #484848;
    background-image: -webkit-linear-gradient(top, #484848, #454545);
    background-image: -moz-linear-gradient(top, #484848, #454545);
    background-image: -o-linear-gradient(top, #484848, #454545);
    background-image: linear-gradient(to bottom, #484848, #454545);
    box-shadow: inset 0 1px 0.5px rgba(255, 255, 255, 0.1);
}

@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@-moz-keyframes blink {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-o-keyframes blink {
    0% {opacity: 0;}
    100% {opacity: 1;}    
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 1; }
    100% {opacity: 0;}
}

/* For iPhone < 5 */
@media only screen and (device-aspect-ratio: 2/3) {
    #img-split-bill {
        top: 2%;
        right: 30%;
    }

    #tipper header {
        display: none;
    }

    .btn {
        padding-top: 0.6em;
        padding-bottom: 1.7em;
    }
}

